<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서 등록</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/addBook.css">
    <link rel="stylesheet" href="/css/body.css">
</head>
<body>
<div id="app">
    <div id="header-container"></div>
    <div class="container-wrap">
        <div class="addBook-title">도서등록</div>
    </div>
    <div class="form-container">
        <div>
            <label for="bookNumber">도서번호</label>
            <input type="text" id="bookNumber" placeholder="도서 번호를 입력하세요." maxlength="50" v-model="book.bookId">
        </div>
        <div>
            <label for="bookName">도서명</label>
            <input type="text" id="bookName" placeholder="도서이름을 입력하세요." maxlength="50" v-model="book.bookName">
        </div>
        <div>
            <label for="bookWriter">저자</label>
            <input type="text" id="bookWriter" placeholder="글쓴이를 입력하세요." maxlength="50" v-model="book.bookWriter">
        </div>
        <div>
            <label for="publisher">출판사</label>
            <input type="text" id="publisher" placeholder="출판사를 입력하세요." maxlength="50" v-model="book.bookPublisher">
        </div>
        <div>
            <label>분류명</label>
                <select v-model="book.bookCategory">
                    <option value="철학">철학</option>
                    <option value="종교">종교</option>
                    <option value="사회학">사회학</option>
                    <option value="자연과학">자연과학</option>
                    <option value="기술과학">기술과학</option>
                    <option value="언어">언어</option>
                    <option value="문학">문학</option>
                    <option value="예술">예술</option>
                    <option value="문학">문학</option>
                    <option value="역사">역사</option>
                </select>
        </div>
        <div>
            <label for="publicationDate">발행일</label>
            <input type="text" id="publicationDate" placeholder="발행일을 8자리 숫자로 입력하세요." maxlength="8" v-model="book.bookPublicationDate">
        </div>
        <div>
            <label>이미지</label>
            <input type="file" id="bookImage" class="fileButton" accept=".gif,.jpg,.jpeg,.png" @change="onChangeFile" ref="image">
            <div class="image-preview" v-if="imageUrl">
                <img :src="imageUrl" alt="이미지 미리보기">
            </div>
        </div>
        <div>
            <button type="button" @click="addBook()">도서 등록</button>
            <button type="button" @click="">취소</button>
        </div>
    </div>
</div>

<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/plugins/toastUiTree/tui-tree.js"></script>
<script src="/plugins/toastUiCalender/toastui-calendar.min.js"></script>
<script src="/plugins/toastUiCalender/toastui-calendar.ie11.min.js"></script>
<script src="/common/vue/vueCommon.js"></script>

<script>
    $(function() {
        $('#header-container').load('/common/header/adminHeader.html');
    });
</script>
<script>
    new Vue({
        el : "#app",
        data : {
            users : {},
            book : {
                bookId : '',
                bookName : '',
                bookWriter : '',
                bookPublisher : '',
                bookCategory : '철학',
                bookPublicationDate : ''
            },
            imageUrl: '',
            bookImage : null,
            image : null
        },
        methods : {
            getUserInfo : function () {
                let vm = this;
                axios.get('/account/getUserInfo')
                    .then(res => {
                        vm.users = res.data;
                        localStorage.setItem('userInfo', JSON.stringify(vm.users));
                    })
                    .catch(error => {
                      console.error("Error fetching data: ", error);
                    })
            },
            onChangeFile(event) {
                const file = event.target.files[0];
                if (file) {
                    this.bookImage = this.$refs.image.files[0];

                    const reader = new FileReader();
                    reader.onload = (e) => {
                        this.imageUrl = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            },
            addBook : function () {
                let vm = this;

                if(!vm.bookCheck()) return false;
                else {
                    let formData = new FormData();
                    formData.append("bookImage", vm.bookImage);

                    Object.keys(vm.book).forEach((key) => {
                        if(vm.book[key]==null || vm.book[key] == ''){
                            formData.append(key, "");
                        } else {
                            formData.append(key, vm.book[key]);
                        }
                    })

                    axios.post('/book/addBook', formData)
                        .then(response => {
                          if(response.data) {
                             location.href = '/admin/adminMain';
                          } else {
                            alert("로그요청에 실패하였습니다.");
                          }
                      })
                      .catch(error => {
                          console.error("Error fetching data: ", error);
                      })
                }
            },
            bookCheck : function () {
                let vm = this;
                if(vm.book.bookId == '' || vm.book.bookId == null){
                    alert("도서번호를 입력하세요.");
                    return false;
                } else if(vm.book.bookName == '' || vm.book.bookName == null){
                    alert("도서명을 입력하세요.");
                    return false;
                } else if(vm.book.bookWriter == '' || vm.book.bookWriter == null){
                    alert("저자를 입력하세요.");
                    return false;
                } else if(vm.book.bookPublisher == '' || vm.book.bookPublisher == null){
                    alert("출판사를 입력하세요.");
                    return false;
                } else if(vm.book.bookPublicationDate == '' || vm.book.bookPublicationDate == null || vm.book.bookPublicationDate.length < 8 || !vm.onlyNumberCheck(vm.book.bookPublicationDate)){
                    alert("발행일을 8자리 숫자로 입력하세요.");
                    return false;
                } else if(vm.imageUrl == ''){
                    alert("이미지를 등록하세요(필수)");
                    return false;
                }

                return true;

            },
            onlyNumberCheck : function (keyword) {
                let vm = this;
                let check = /^[0-9]+$/;
                if(check.test(keyword)) return true;

                return false;
            }
        },
       filters: $.extend({}, vueFilters, {}),
       computed: {},
       watch: {},
       created() {},
       mounted() {
            this.getUserInfo();
       }
     })
</script>
</body>
</html>