<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인화면</title>
</head>
<body>
<div id="app">
    <div>로그인</div><br>
    <div>
        <label for="userName">이름</label>
        <div>
            <input type="text" id="userName" placeholder="이름를 입력해주세요." maxlength="50" v-model="user.userName">
        </div>
    </div>
    <br>
    <div>
        <div>생년월일</div>
        <div>
            <input type="text" id="userBirth" placeholder="8자리 숫자를 입력해주세요." maxlength="8" v-model="user.userBirth">
        </div>
    </div>
    <br>
    <div>
        <div>휴대폰번호</div>
        <div>
            <input type="text" id="userPhone" placeholder="숫자만 입력해주세요." maxlength="11" v-model="user.userPhone">
        </div>
    </div>
    <br>
    <div>
        <div>
            <button type="button" @click="login()">로그인</button>
            <button type="button" @click="join()">회원가입</button>
            <button type="button" @click="test()">정보자동기입</button>
        </div>
    </div>
</div>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>

<!-- toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>

<!-- toast ui tree -->
<script src="/plugins/toastUiTree/tui-tree.js"></script>

<!-- toast ui calender -->
<script src="/plugins/toastUiCalender/toastui-calendar.min.js"></script>
<script src="/plugins/toastUiCalender/toastui-calendar.ie11.min.js"></script>

<script>
    new Vue({
        el : "#app",
        data : {
            user : {
                userName : "",
                userBirth : "",
                userPhone : ""
            }
        },
        methods : {
            login : function () {
                let vm = this;
                console.log(vm.user.userName + " " + vm.user.userBirth + " " + vm.user.userPhone);
                axios.get('/account/loginCheck', {
                        params : {
                            userName : vm.user.userName,
                            userBirth : vm.user.userBirth,
                            userPhone : vm.user.userPhone
                        }
                    })
                    .then(response => {
                      if(response.data) {
                         location.href = '/main';
                      } else {
                        toastr.error("입력한 정보가 올바르지 않습니다.");
                      }
                  })
                  .catch(error => {
                      console.error("Error fetching data: ", error);
                  })
            },
            join : function () {
                location.href = "/account/userAdd"
            },
            test : function () {
                let vm = this;
                vm.user.userName = "지성배";
                vm.user.userPhone = "01086206367";
                vm.user.userBirth = "19960415";
            }
        },
       filters: $.extend({}, vueFilters, {}),
       computed: {},
       watch: {},
       created() {},
       mounted() {
       }
     })
</script>

</body>
</html>