<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="container" id="app">
    <div id="header-container"></div>

</div>

<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/plugins/toastUiTree/tui-tree.js"></script>
<script src="/plugins/toastUiCalender/toastui-calendar.min.js"></script>
<script src="/plugins/toastUiCalender/toastui-calendar.ie11.min.js"></script>
<script src="/common/vue/vueCommon.js"></script>
<script>
    $(function() {
        $('#header-container').load('/common/header/header.html');
    });
</script>
<script>
    new Vue({
        el : "#app",
        data : {
            userInfo : {}
        },
        methods : {
            getUserInfo : function () {
                let vm = this;
                axios.get('/account/getUserInfo')
                    .then(res => {
                        vm.userInfo = res.data;
                        localStorage.setItem('userInfo', JSON.stringify(vm.userInfo));
                    })
                    .catch(error => {
                      console.error("Error fetching data: ", error);
                    })
            }
        },
       filters: {},
       computed: {},
       watch: {},
       created() {},
       mounted() {
            this.getUserInfo();
       }
     })
</script>


</body>
</html>